
body
{
	text-align:  center;
	background-color:#333399 ;
}



h1
{

	color: red;
}

#content
{
	width: 70%;
	margin: auto;
	min-height: 300px;
	background-color:#f2f2f2 ;
}

#contener
{
	width: 70%;
	margin: auto;
}


header
{
	color: white;
	background-color:#000066;
	min-height: 30px;
}

footer
{
	color: white;
	background-color:#000066;
	min-height: 30px;
}
